DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=solgar
DB_USER=solgar_app
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3307
MYSQL_ROOT_PASSWORD=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_MIN_SCORE=0.5

AZURE_AD_CLIENT_ID=
AZURE_AD_TENANT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_REDIRECT_URI=http://localhost:8000/accounts/azure/callback/