{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Solgar Platform{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/solgar_admin.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Jost:wght@300;400;500&display=swap" rel="stylesheet">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">Solgar Platform · Администрирование</a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
