<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/static/react/images/favicon.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/static/react/images/favicon_light.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/react/images/favicon.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/react/images/favicon_light.png"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>ForteMira</title>
    <meta name="title" content="Shadcn Admin" />
    <meta
      name="description"
      content="Admin Dashboard UI built with Shadcn and Vite."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shadcn-admin.netlify.app" />
    <meta property="og:title" content="Shadcn Admin" />
    <meta
      property="og:description"
      content="Admin Dashboard UI built with Shadcn and Vite."
    />
    <meta
      property="og:image"
      content="https://shadcn-admin.netlify.app/images/shadcn-admin.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://shadcn-admin.netlify.app" />
    <meta property="twitter:title" content="Shadcn Admin" />
    <meta
      property="twitter:description"
      content="Admin Dashboard UI built with Shadcn and Vite."
    />
    <meta
      property="twitter:image"
      content="https://shadcn-admin.netlify.app/images/shadcn-admin.png"
    />

    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />

    <meta name="theme-color" content="#fff" />
    <script type="module" crossorigin src="/static/react/assets/index-CCJgMYAA.js"></script>
    <link rel="modulepreload" crossorigin href="/static/react/assets/jsx-runtime-B-hcVAMW.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/react-dom-sF8Euvcq.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/queryObserver-CBAP5A9N.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/api-D-2PYbvO.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/useRouter-BGpAXxmD.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/link-CSzIO9sp.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/root-CDpNo7ef.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/matchContext-DyXrH4xk.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/useMatch-4NJcS1lW.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/useSearch-Bi_6L9Oi.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/useNavigate-BkLYxs6i.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/route-DTG82fOa.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/preload-helper-CK2_ixLP.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/createLucideIcon-C2cojhec.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/circle-3Os3Peao.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/cookies-DJGE1hKf.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/utils-BOkx8FqX.js">
    <link rel="modulepreload" crossorigin href="/static/react/assets/button-BxY4L8Ne.js">
    <link rel="stylesheet" crossorigin href="/static/react/assets/index-BiKEWcsA.css">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
